<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section style="color: black;">

		<div class="container-fluid p-4 mt-5 ">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<form action="/products" method="get">
						<div class="input-group">
							<input type="text" class="form-control" name="ch">
							<button class="btn btn-light text-dark ms-3 col-md-2">
								<i class="fa-solid fa-magnifying-glass"></i> Search
							</button>
						</div>
					</form>
				</div>
			</div>

		</div>


		<div class="container-fluid mt-0.5">
			<div class="row">

				<div class="col-md-2">

					<div class="card" style="border: none; background-color: #202020;">
						<div class="card-body"
							style="background-color: #202020; color: #DFFF00; border: none; border-radius: 10px;">
							<div class="list-group">
								<p class="fs-5">Genre</p>
								<a href="/products"
									th:classappend="${paramValue==''} ? 'active':''"
									class="list-group-item list-group-item-action"
									aria-current="true"> All </a> <a th:each="c:${categories}"
									th:href="@{'/products?category='+${c.name}}"
									th:classappend="${paramValue == c.name} ? 'active':''"
									class="list-group-item list-group-item-action">[[${c.name}]]</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10 " style="border: none;">
					<div class="card" style="border: none; background-color: #202020;">
						<div class="card-body"
							style="background-color: #202020; color: #DFFF00; border: none; border-radius: 10px;">
							<p class="fs-2 text-center">Games</p>
							<div class="row d-flex flex-wrap"
								style="background-color: #202020; border: none;">
								<th:block th:if="${productsSize >0}">
									<div class="col-md-3 mt-2" style="border: none;"
										th:each="p:${products}">
										<div class="card card-sh" style="border: none;">
											<div class="card-body text-center pb-10"
												style="background-color: #2a2a2a; color: white; border: none;">
												<img alt="" th:src="@{'/img/product_img/'+${p.image}}"
													width="100%" height="auto"
													style="max-height: 200px; min-height: 200px; object-fit: cover;">
												<p class="fs-5 text-center mt-3">[[${p.title}]]</p>
												<div class="row text-center">
													<p class="fs-6 fw-bold " style="color: #DFFF00;">
														<span>&#3647; [[${p.discountPrice}]]</span> <br> <span
															class="text-decoration-line-through text-secondary">&#3647;
															[[${p.price}]]</span> <span class="fs-6 text-success">[[${p.discount}]]%
															off </span>
													</p>
													<a th:href="@{'/product/'+${p.id}}"
														class="btn btn-primary col-md-6 offset-md-3"
														style="background-color: #DFFF00; color: #000000">View
														Details</a>
												</div>
											</div>
										</div>
									</div>
								</th:block>
							</div>

						</div>
						<nav aria-label="Page navigation example" style="margin: 0 auto;">
							<ul class="pagination" style="margin: 10px 0;">
								<li class="page-item"
									th:classappend="${isFirst} ? 'disabled':''"><a
									class="page-link" th:href="@{'/products?pageNo='+${pageNo-1}}"
									aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
								</a></li>

								<li th:each="i:${#numbers.sequence(1,totalPages)}"
									class="page-item" th:classappend="${pageNo+1==i}?'active':''"
									]]><a class="page-link"
									th:href="@{'/products?pageNo='+${i-1}}">[[${i}]]</a></li>

								<li class="page-item" th:classappend="${isLast} ? 'disabled':''"><a
									class="page-link" th:href="@{'/products?pageNo='+${pageNo+1}}"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
								</a></li>
							</ul>
						</nav>
					</div>
					<!-- Start Pagination -->
					<div class="row" style="color: #DFFF00; margin-top: 10px;">
						<div class="col-md-4">Total Products : [[${totalElements}]]</div>
						<div class="col-md-6">
							<th:block th:if="${productsSize>0}">
						</div>
						</th:block>
					</div>

				</div>
			</div>
		</div>

	</section>
</body>
</html>