<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Product Ordered Successfully</title>
</head>
<body>
	<section >
		<div class="container p-5" style="background-color: #ffffff; margin-top:15%;width:50%;border-radius:15px" >
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center">
					<i class="fa-solid fa-circle-check fa-5x text-success" ></i>
					<p class="fs-3">Game Ordered Successfully</p>
					<div class="text-center">
						<!-- สีปุ่ม -->
						<a href="/" class="btn" style="color: black; background-color: #DFFF00;">Home</a> <a href="/user/user-orders"
							class="btn" style="color: black; background-color: #DFFF00;">Your Order</a>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>